* {
	margin: 0;
}

/* Navigation */

nav {
	display: flex;
	justify-content: space-evenly;
	background-color: gray;
}

.VehicleElement {
	padding-bottom: 5em;
	padding-top: 5em;
}

.VehicleElement div {
	border: 1px solid black;
}

.VehicleElement {
	border: 1px solid black
}

#game {
	/* display: flex;
	flex-direction: row; */
}
